.git
thirdparty
ci/tmp
ci/thirdparty/eigen-eigen-3.3.7
ci/thirdparty/eigen-eigen-323c052e1731
ci/thirdparty/boost_1_71_0
ci/thirdparty/boost_1_72_0
ci/thirdparty/libyaml
ci/thirdparty/opencv-4.2.0
ci/thirdparty/opencv_contrib-4.2.0
ci/opencv-4.2.0
ci/opencv_contrib-4.2.0
ci/thirdparty/pcl-1.9.1
ci/thirdparty/pcl-1.11.0
ci/thirdparty/pyyaml
ci/thirdparty/vtk_8_2_0
ci/thirdparty/clapack-3.2.1/lib
ci/thirdparty/clapack-3.2.1/build/linux
ci/thirdparty/clapack-3.2.1/build/linux_debug
ci/thirdparty/sba-1.6/lib
ci/thirdparty/sba-1.6/build/linux
ci/thirdparty/sba-1.6/build/linux_debug
matchinglib_poselib/cmake-build-debug
matchinglib_poselib/source/poselib/thirdparty/ngransac/__pycache__
matchinglib_poselib/source/poselib/thirdparty/ngransac/ngransac/ngransac.cpython-36m-x86_64-linux-gnu.so
matchinglib_poselib/source/poselib/thirdparty/ngransac/ngransac/build
matchinglib_poselib/source/poselib/thirdparty/ngransac/ngransac/dist
matchinglib_poselib/source/poselib/thirdparty/ngransac/ngransac/ngransac.egg-info
