[submodule "matchinglib_poselib/source/matchinglib/include/annoy"]
	path = matchinglib_poselib/source/matchinglib/include/annoy
	url = https://github.com/spotify/annoy.git
	shallow = true
[submodule "matchinglib_poselib/source/matchinglib/thirdparty/nmslib-2.1.1"]
	path = matchinglib_poselib/source/matchinglib/thirdparty/nmslib-2.1.1
	url = https://github.com/nmslib/nmslib.git
[submodule "matchinglib_poselib/source/poselib/thirdparty/opengv"]
	path = matchinglib_poselib/source/poselib/thirdparty/opengv
	url = https://github.com/laurentkneip/opengv.git
[submodule "matchinglib_poselib/source/matchinglib/thirdparty/nanoflann"]
	path = matchinglib_poselib/source/matchinglib/thirdparty/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
